In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [30]:
#read pickle
X_train = pd.read_pickle("/Users/ilseeb/Desktop/Postgraduate/Train Punctuality Data/train_test_data/X_train_over.pkl")

In [31]:
X_train.columns

Index(['train_serv', 'month', 'destination_region', 'departure_region',
       'temperature', 'relative_humidity', 'wind_speed', 'wind_direction',
       'time_of_day', 'date', 'day_of_week'],
      dtype='object')

In [32]:
one_hot_encoded_data = pd.get_dummies(X_train, columns = ['train_serv', 'month'
        , 'destination_region', 'departure_region',
       'time_of_day', 'day_of_week'])

In [33]:
one_hot_encoded_data.head()

,temperature,relative_humidity,wind_speed,wind_direction,date,train_serv_BELGORAIL,train_serv_EUROSTAR,train_serv_EUROSTARFR,train_serv_SNCB/NMBS,train_serv_THI-FACT,...,time_of_day_afternoon,time_of_day_morning,time_of_day_night,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday
0,13.490944,71.580310,16.394829,81.15818,2015-10-09,0,0,0,1,0,...,0,1,0,1,0,0,0,0,0,0
1,16.240944,56.210087,19.881649,328.32452,2015-06-18,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
2,3.830944,89.245080,21.758419,308.95593,2019-01-28,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
3,7.070944,89.675210,18.511143,193.49573,2019-06-02,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
4,23.960943,57.059574,13.339445,356.90594,2018-02-08,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0

In [34]:
df_to_normalize = one_hot_encoded_data[["temperature","relative_humidity"
                                           ,"wind_speed", "wind_direction"]]

In [35]:
min_max = preprocessing.MinMaxScaler()
scaled_df = min_max.fit_transform(df_to_normalize.values)
normalized_df = pd.DataFrame(scaled_df, columns=["temperature","relative_humidity"
                                           ,"wind_speed", "wind_direction"])

In [36]:
one_hot_encoded_data["temperature"] = normalized_df["temperature"]
one_hot_encoded_data["relative_humidity"] = normalized_df["relative_humidity"]
one_hot_encoded_data["wind_speed"] = normalized_df["wind_speed"]
one_hot_encoded_data["wind_direction"] = normalized_df["wind_direction"]

In [37]:
one_hot_encoded_data.head()

,temperature,relative_humidity,wind_speed,wind_direction,date,train_serv_BELGORAIL,train_serv_EUROSTAR,train_serv_EUROSTARFR,train_serv_SNCB/NMBS,train_serv_THI-FACT,...,time_of_day_afternoon,time_of_day_morning,time_of_day_night,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday
0,0.468821,0.661019,0.303137,0.223413,2015-10-09,0,0,0,1,0,...,0,1,0,1,0,0,0,0,0,0
1,0.525792,0.478449,0.367607,0.911782,2015-06-18,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
2,0.268697,0.870843,0.402308,0.857840,2019-01-28,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
3,0.335819,0.875952,0.342267,0.536278,2019-06-02,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
4,0.685726,0.488540,0.246643,0.991383,2018-02-08,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0

In [39]:
#export to pickle
#one_hot_encoded_data.to_pickle("/Users/ilseeb/Desktop/Postgraduate/Train Punctuality Data/train_test_data/X_train_processed.pkl")

Test data preprocessing

In [34]:
#read pickle
X_test = pd.read_pickle("/Users/ilseeb/Desktop/Postgraduate/Train Punctuality Data/train_test_data/X_test.pkl")

In [35]:
X_test.reset_index(inplace=True)
X_test.head()

,index,train_serv,month,destination_region,departure_region,temperature,relative_humidity,wind_speed,wind_direction,time_of_day,date,day_of_week
0,1966361,SNCB/NMBS,JUL,FLANDERS,FLANDERS,19.320944,51.078835,13.281023,32.828537,afternoon,2019-03-07,Thursday
1,2128659,SNCB/NMBS,DEC,FLANDERS,WALLONIA,8.130944,86.957214,22.963936,256.399480,afternoon,2019-12-22,Sunday
2,2492328,SNCB/NMBS,JAN,WALLONIA,BRUSSELS-CAPITAL REGION,4.840944,84.758380,6.379216,196.389540,afternoon,2021-01-23,Saturday
3,3147932,SNCB/NMBS,NOV,FLANDERS,WALLONIA,7.560944,88.358720,22.975220,234.566680,morning,2022-11-24,Thursday
4,850721,SNCB/NMBS,MAY,WALLONIA,BRUSSELS-CAPITAL REGION,17.370943,76.966480,18.104100,197.354030,morning,2016-05-21,Saturday

In [36]:
one_hot_encoded_data_test = pd.get_dummies(X_test, columns = ['train_serv', 'month'
        , 'destination_region', 'departure_region',
       'time_of_day', 'day_of_week'])

In [37]:
one_hot_encoded_data_test.head()

,index,temperature,relative_humidity,wind_speed,wind_direction,date,train_serv_BELGORAIL,train_serv_EUROSTAR,train_serv_EUROSTARFR,train_serv_SNCB/NMBS,...,time_of_day_afternoon,time_of_day_morning,time_of_day_night,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday
0,1966361,19.320944,51.078835,13.281023,32.828537,2019-03-07,0,0,0,1,...,1,0,0,0,0,0,0,1,0,0
1,2128659,8.130944,86.957214,22.963936,256.399480,2019-12-22,0,0,0,1,...,1,0,0,0,0,0,1,0,0,0
2,2492328,4.840944,84.758380,6.379216,196.389540,2021-01-23,0,0,0,1,...,1,0,0,0,0,1,0,0,0,0
3,3147932,7.560944,88.358720,22.975220,234.566680,2022-11-24,0,0,0,1,...,0,1,0,0,0,0,0,1,0,0
4,850721,17.370943,76.966480,18.104100,197.354030,2016-05-21,0,0,0,1,...,0,1,0,0,0,1,0,0,0,0

In [38]:
df_to_normalize_test = one_hot_encoded_data_test[["temperature","relative_humidity"
                                           ,"wind_speed", "wind_direction"]]

In [39]:
min_max = preprocessing.MinMaxScaler()
scaled_df = min_max.fit_transform(df_to_normalize_test.values)
normalized_df_test = pd.DataFrame(scaled_df, columns=["temperature","relative_humidity"
                                           ,"wind_speed", "wind_direction"])

In [40]:
normalized_df_test.head()

   temperature  relative_humidity  wind_speed  wind_direction
0     0.589600           0.417500    0.245563        0.088813
1     0.357779           0.843668    0.424598        0.711468
2     0.289621           0.817550    0.117950        0.544338
3     0.345971           0.860315    0.424807        0.650663
4     0.549202           0.724996    0.334741        0.547024

In [41]:
one_hot_encoded_data_test["temperature"] = normalized_df_test["temperature"]
one_hot_encoded_data_test["relative_humidity"] = normalized_df_test["relative_humidity"]
one_hot_encoded_data_test["wind_speed"] = normalized_df_test["wind_speed"]
one_hot_encoded_data_test["wind_direction"] = normalized_df_test["wind_direction"]

In [43]:
one_hot_encoded_data_test.head()

,index,temperature,relative_humidity,wind_speed,wind_direction,date,train_serv_BELGORAIL,train_serv_EUROSTAR,train_serv_EUROSTARFR,train_serv_SNCB/NMBS,...,time_of_day_afternoon,time_of_day_morning,time_of_day_night,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday
0,1966361,0.589600,0.417500,0.245563,0.088813,2019-03-07,0,0,0,1,...,1,0,0,0,0,0,0,1,0,0
1,2128659,0.357779,0.843668,0.424598,0.711468,2019-12-22,0,0,0,1,...,1,0,0,0,0,0,1,0,0,0
2,2492328,0.289621,0.817550,0.117950,0.544338,2021-01-23,0,0,0,1,...,1,0,0,0,0,1,0,0,0,0
3,3147932,0.345971,0.860315,0.424807,0.650663,2022-11-24,0,0,0,1,...,0,1,0,0,0,0,0,1,0,0
4,850721,0.549202,0.724996,0.334741,0.547024,2016-05-21,0,0,0,1,...,0,1,0,0,0,1,0,0,0,0

In [44]:
one_hot_encoded_data_test.drop(columns=["index"], inplace=True)
one_hot_encoded_data_test.head()

,temperature,relative_humidity,wind_speed,wind_direction,date,train_serv_BELGORAIL,train_serv_EUROSTAR,train_serv_EUROSTARFR,train_serv_SNCB/NMBS,train_serv_THI-FACT,...,time_of_day_afternoon,time_of_day_morning,time_of_day_night,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday
0,0.589600,0.417500,0.245563,0.088813,2019-03-07,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
1,0.357779,0.843668,0.424598,0.711468,2019-12-22,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
2,0.289621,0.817550,0.117950,0.544338,2021-01-23,0,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0
3,0.345971,0.860315,0.424807,0.650663,2022-11-24,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
4,0.549202,0.724996,0.334741,0.547024,2016-05-21,0,0,0,1,0,...,0,1,0,0,0,1,0,0,0,0

In [45]:
#export to pickle
one_hot_encoded_data_test.to_pickle("/Users/ilseeb/Desktop/Postgraduate/Train Punctuality Data/train_test_data/X_test_processed.pkl")