In [33]:
#import libraries
import pandas as pd
import numpy as np

In [34]:
df = pd.read_csv("/Users/ilseeb/Downloads/Train Punctuality Data/final_dataset.csv")

/var/folders/07/rfr15gnj2vx9fng2s7h5322h0000gn/T/ipykernel_28933/1223442553.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/ilseeb/Downloads/Train Punctuality Data/final_dataset.csv")

In [35]:
df.head()

,Unnamed: 0,DATDEP,TRAIN_NO,RELATION,TRAIN_SERV,PTCAR_NO,LINE_NO_DEP,REAL_TIME_ARR,REAL_TIME_DEP,PLANNED_TIME_ARR,...,DELAY_DEP,RELATION_DIRECTION,PTCAR_LG_NM_NL,LINE_NO_ARR,PLANNED_DATE_ARR,PLANNED_DATE_DEP,REAL_DATE_ARR,REAL_DATE_DEP,destination,delayed
0,17,01JAN2014,10,ICE,SNCB/NMBS,215,0/2,21:31:15,21:31:07,21:32:00,...,-53.0,NaN,BRUSSEL-CENTRAAL,0/2,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False
1,288,01JAN2014,1209,INT,SNCB/NMBS,215,0/6,9:58:51,10:01:11,9:59:00,...,11.0,NaN,BRUSSEL-CENTRAAL,0/6,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False
2,313,01JAN2014,1210,INT,SNCB/NMBS,215,0/5,7:02:34,7:04:17,6:59:00,...,197.0,NaN,BRUSSEL-CENTRAAL,0/5,01JAN2014,01JAN2014,01JAN2014,01JAN2014,ESSEN,False
3,370,01JAN2014,1213,INT,SNCB/NMBS,215,0/6,10:57:53,11:00:59,10:59:00,...,-1.0,NaN,BRUSSEL-CENTRAAL,0/6,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False
4,401,01JAN2014,1217,INT,SNCB/NMBS,215,0/6,11:58:12,12:03:39,11:59:00,...,159.0,NaN,BRUSSEL-CENTRAAL,0/6,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False

In [36]:
df["year"] = df["DATDEP"].apply(lambda x: x[5:])

In [37]:
df["month"] = df["DATDEP"].apply(lambda x: x[2:5])

In [38]:
df["day"] = df["DATDEP"].apply(lambda x: x[:2])

In [39]:
df["month"].unique()

array(['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP',
       'OCT', 'NOV', 'DEC'], dtype=object)

In [40]:
df["month"] = df["month"].map({"JAN": "01", "FEB": "02", "MAR": "03", "APR": "04", "MAY": "05", "JUN": "06", "JUL": "07", "AUG": "08", "SEP": "09", "OCT": "10", "NOV": "11", "DEC": "12"})

In [41]:
df.head()

,Unnamed: 0,DATDEP,TRAIN_NO,RELATION,TRAIN_SERV,PTCAR_NO,LINE_NO_DEP,REAL_TIME_ARR,REAL_TIME_DEP,PLANNED_TIME_ARR,...,LINE_NO_ARR,PLANNED_DATE_ARR,PLANNED_DATE_DEP,REAL_DATE_ARR,REAL_DATE_DEP,destination,delayed,year,month,day
0,17,01JAN2014,10,ICE,SNCB/NMBS,215,0/2,21:31:15,21:31:07,21:32:00,...,0/2,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01
1,288,01JAN2014,1209,INT,SNCB/NMBS,215,0/6,9:58:51,10:01:11,9:59:00,...,0/6,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01
2,313,01JAN2014,1210,INT,SNCB/NMBS,215,0/5,7:02:34,7:04:17,6:59:00,...,0/5,01JAN2014,01JAN2014,01JAN2014,01JAN2014,ESSEN,False,2014,01,01
3,370,01JAN2014,1213,INT,SNCB/NMBS,215,0/6,10:57:53,11:00:59,10:59:00,...,0/6,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01
4,401,01JAN2014,1217,INT,SNCB/NMBS,215,0/6,11:58:12,12:03:39,11:59:00,...,0/6,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01

In [42]:
df["hour_time_dep"] = df["REAL_TIME_DEP"].astype("datetime64").dt.round("H").dt.hour

In [43]:
df.head()

,Unnamed: 0,DATDEP,TRAIN_NO,RELATION,TRAIN_SERV,PTCAR_NO,LINE_NO_DEP,REAL_TIME_ARR,REAL_TIME_DEP,PLANNED_TIME_ARR,...,PLANNED_DATE_ARR,PLANNED_DATE_DEP,REAL_DATE_ARR,REAL_DATE_DEP,destination,delayed,year,month,day,hour_time_dep
0,17,01JAN2014,10,ICE,SNCB/NMBS,215,0/2,21:31:15,21:31:07,21:32:00,...,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01,22.0
1,288,01JAN2014,1209,INT,SNCB/NMBS,215,0/6,9:58:51,10:01:11,9:59:00,...,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01,10.0
2,313,01JAN2014,1210,INT,SNCB/NMBS,215,0/5,7:02:34,7:04:17,6:59:00,...,01JAN2014,01JAN2014,01JAN2014,01JAN2014,ESSEN,False,2014,01,01,7.0
3,370,01JAN2014,1213,INT,SNCB/NMBS,215,0/6,10:57:53,11:00:59,10:59:00,...,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01,11.0
4,401,01JAN2014,1217,INT,SNCB/NMBS,215,0/6,11:58:12,12:03:39,11:59:00,...,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01,12.0

In [44]:
df.dtypes

Unnamed: 0              int64
DATDEP                 object
TRAIN_NO                int64
RELATION               object
TRAIN_SERV             object
PTCAR_NO                int64
LINE_NO_DEP            object
REAL_TIME_ARR          object
REAL_TIME_DEP          object
PLANNED_TIME_ARR       object
PLANNED_TIME_DEP       object
DELAY_ARR             float64
DELAY_DEP             float64
RELATION_DIRECTION     object
PTCAR_LG_NM_NL         object
LINE_NO_ARR            object
PLANNED_DATE_ARR       object
PLANNED_DATE_DEP       object
REAL_DATE_ARR          object
REAL_DATE_DEP          object
destination            object
delayed                  bool
year                   object
month                  object
day                    object
hour_time_dep         float64
dtype: object

In [50]:
df_regions = pd.read_excel("/Users/ilseeb/Downloads/Train Punctuality Data/train_stations_regions_2.xlsx")

In [51]:
df_all = pd.merge(df, df_regions, how="left", left_on = ["destination"], right_on = ["train_stations" ])

In [53]:
df_all.head()

,Unnamed: 0,DATDEP,TRAIN_NO,RELATION,TRAIN_SERV,PTCAR_NO,LINE_NO_DEP,REAL_TIME_ARR,REAL_TIME_DEP,PLANNED_TIME_ARR,...,REAL_DATE_ARR,REAL_DATE_DEP,destination,delayed,year,month,day,hour_time_dep,train_stations,region
0,17,01JAN2014,10,ICE,SNCB/NMBS,215,0/2,21:31:15,21:31:07,21:32:00,...,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01,22.0,BRUSSEL-ZUID,Brussels-Capital Region
1,288,01JAN2014,1209,INT,SNCB/NMBS,215,0/6,9:58:51,10:01:11,9:59:00,...,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01,10.0,BRUSSEL-ZUID,Brussels-Capital Region
2,313,01JAN2014,1210,INT,SNCB/NMBS,215,0/5,7:02:34,7:04:17,6:59:00,...,01JAN2014,01JAN2014,ESSEN,False,2014,01,01,7.0,ESSEN,Flanders
3,370,01JAN2014,1213,INT,SNCB/NMBS,215,0/6,10:57:53,11:00:59,10:59:00,...,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01,11.0,BRUSSEL-ZUID,Brussels-Capital Region
4,401,01JAN2014,1217,INT,SNCB/NMBS,215,0/6,11:58:12,12:03:39,11:59:00,...,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01,12.0,BRUSSEL-ZUID,Brussels-Capital Region

In [54]:
df_weather = pd.read_csv("/Users/ilseeb/Downloads/Train Punctuality Data/weather_data.csv")

In [55]:
df_weather.dtypes

Unnamed: 0             int64
date_time             object
temperature          float64
relative_humidity    float64
wind_speed           float64
wind_direction       float64
year                   int64
month                  int64
day                    int64
time                 float64
dtype: object

In [59]:
df_all["year"] = df_all["year"].astype(int)
df_all["month"] = df_all["month"].astype(int)
df_all["day"] = df_all["day"].astype(int)

In [60]:
df_all.dtypes

Unnamed: 0              int64
DATDEP                 object
TRAIN_NO                int64
RELATION               object
TRAIN_SERV             object
PTCAR_NO                int64
LINE_NO_DEP            object
REAL_TIME_ARR          object
REAL_TIME_DEP          object
PLANNED_TIME_ARR       object
PLANNED_TIME_DEP       object
DELAY_ARR             float64
DELAY_DEP             float64
RELATION_DIRECTION     object
PTCAR_LG_NM_NL         object
LINE_NO_ARR            object
PLANNED_DATE_ARR       object
PLANNED_DATE_DEP       object
REAL_DATE_ARR          object
REAL_DATE_DEP          object
destination            object
delayed                  bool
year                    int64
month                   int64
day                     int64
hour_time_dep         float64
train_stations         object
region                 object
dtype: object

In [62]:
df_all_2 = pd.merge(df_all, df_weather, how="left", left_on = ["year", "month", "day", "hour_time_dep"], right_on = ["year", "month", "day", "time"])

In [63]:
df_all_2.head()

,Unnamed: 0_x,DATDEP,TRAIN_NO,RELATION,TRAIN_SERV,PTCAR_NO,LINE_NO_DEP,REAL_TIME_ARR,REAL_TIME_DEP,PLANNED_TIME_ARR,...,hour_time_dep,train_stations,region,Unnamed: 0_y,date_time,temperature,relative_humidity,wind_speed,wind_direction,time
0,17,01JAN2014,10,ICE,SNCB/NMBS,215,0/2,21:31:15,21:31:07,21:32:00,...,22.0,BRUSSEL-ZUID,Brussels-Capital Region,31.0,20140101T2200,9.590943,84.870130,35.428463,185.24713,22.0
1,288,01JAN2014,1209,INT,SNCB/NMBS,215,0/6,9:58:51,10:01:11,9:59:00,...,10.0,BRUSSEL-ZUID,Brussels-Capital Region,19.0,20140101T1000,6.050944,86.606674,23.784530,182.60257,10.0
2,313,01JAN2014,1210,INT,SNCB/NMBS,215,0/5,7:02:34,7:04:17,6:59:00,...,7.0,ESSEN,Flanders,16.0,20140101T0700,5.240944,89.317700,21.749481,192.42595,7.0
3,370,01JAN2014,1213,INT,SNCB/NMBS,215,0/6,10:57:53,11:00:59,10:59:00,...,11.0,BRUSSEL-ZUID,Brussels-Capital Region,20.0,20140101T1100,6.840944,83.881490,23.770906,178.26430,11.0
4,401,01JAN2014,1217,INT,SNCB/NMBS,215,0/6,11:58:12,12:03:39,11:59:00,...,12.0,BRUSSEL-ZUID,Brussels-Capital Region,21.0,20140101T1200,7.490944,82.104470,22.253124,170.69006,12.0

In [70]:
df_all_2.describe(include="all")

,Unnamed: 0_x,DATDEP,TRAIN_NO,RELATION,TRAIN_SERV,PTCAR_NO,LINE_NO_DEP,REAL_TIME_ARR,REAL_TIME_DEP,PLANNED_TIME_ARR,...,hour_time_dep,train_stations,region,Unnamed: 0_y,date_time,temperature,relative_humidity,wind_speed,wind_direction,time
count,3.183238e+06,3183238,3.183238e+06,3183238,3183238,3183238.0,3183081,3183218,3183097,3182701,...,3.183097e+06,3183238,3183238,3.183097e+06,3183097,3.183097e+06,3.183097e+06,3.183097e+06,3.183097e+06,3.183097e+06
unique,NaN,3285,NaN,130,5,NaN,7,73782,73830,5656,...,NaN,432,3,NaN,68978,NaN,NaN,NaN,NaN,NaN
top,NaN,22JUN2016,NaN,IC/L,SNCB/NMBS,NaN,0/4,21:22:27,14:28:20,17:31:00,...,NaN,BRUSSEL-ZUID,Flanders,NaN,20160622T0800,NaN,NaN,NaN,NaN,NaN
freq,NaN,1547,NaN,289056,3095982,NaN,628063,123,122,10013,...,NaN,492829,1426306,NaN,111,NaN,NaN,NaN,NaN,NaN
mean,9.151014e+05,NaN,3.456391e+03,NaN,NaN,215.0,NaN,NaN,NaN,NaN,...,1.396997e+01,NaN,NaN,3.930072e+04,NaN,1.235334e+01,7.578606e+01,1.437915e+01,1.926480e+02,1.396997e+01
std,5.326975e+05,NaN,2.470622e+03,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,5.299251e+00,NaN,NaN,2.281700e+04,NaN,6.965829e+00,1.612675e+01,7.220719e+00,9.142683e+01,5.299251e+00
min,2.000000e+00,NaN,1.000000e+01,NaN,NaN,215.0,NaN,NaN,NaN,NaN,...,0.000000e+00,NaN,NaN,9.000000e+00,NaN,-9.139056e+00,1.593023e+01,0.000000e+00,9.391785e-01,0.000000e+00
25%,4.548200e+05,NaN,1.972000e+03,NaN,NaN,215.0,NaN,NaN,NaN,NaN,...,1.000000e+01,NaN,NaN,1.955300e+04,NaN,7.050944e+00,6.463284e+01,8.913181e+00,1.309144e+02,1.000000e+01
50%,9.114610e+05,NaN,2.812000e+03,NaN,NaN,215.0,NaN,NaN,NaN,NaN,...,1.400000e+01,NaN,NaN,3.916100e+04,NaN,1.206094e+01,7.929285e+01,1.323704e+01,2.105297e+02,1.400000e+01
75%,1.371516e+06,NaN,3.755000e+03,NaN,NaN,215.0,NaN,NaN,NaN,NaN,...,1.800000e+01,NaN,NaN,5.926400e+04,NaN,1.735094e+01,8.921810e+01,1.859845e+01,2.515651e+02,1.800000e+01
max,2.004743e+06,NaN,1.998700e+04,NaN,NaN,215.0,NaN,NaN,NaN,NaN,...,2.300000e+01,NaN,NaN,7.889600e+04,NaN,3.913095e+01,1.001186e+02,5.408393e+01,3.600000e+02,2.300000e+01