In [21]:
#import libraries
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv("/Users/ilseeb/Downloads/Train Punctuality Data/final_dataset.csv")

/var/folders/07/rfr15gnj2vx9fng2s7h5322h0000gn/T/ipykernel_28933/1223442553.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/ilseeb/Downloads/Train Punctuality Data/final_dataset.csv")

In [23]:
df.head()

,Unnamed: 0,DATDEP,TRAIN_NO,RELATION,TRAIN_SERV,PTCAR_NO,LINE_NO_DEP,REAL_TIME_ARR,REAL_TIME_DEP,PLANNED_TIME_ARR,...,DELAY_DEP,RELATION_DIRECTION,PTCAR_LG_NM_NL,LINE_NO_ARR,PLANNED_DATE_ARR,PLANNED_DATE_DEP,REAL_DATE_ARR,REAL_DATE_DEP,destination,delayed
0,17,01JAN2014,10,ICE,SNCB/NMBS,215,0/2,21:31:15,21:31:07,21:32:00,...,-53.0,NaN,BRUSSEL-CENTRAAL,0/2,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False
1,288,01JAN2014,1209,INT,SNCB/NMBS,215,0/6,9:58:51,10:01:11,9:59:00,...,11.0,NaN,BRUSSEL-CENTRAAL,0/6,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False
2,313,01JAN2014,1210,INT,SNCB/NMBS,215,0/5,7:02:34,7:04:17,6:59:00,...,197.0,NaN,BRUSSEL-CENTRAAL,0/5,01JAN2014,01JAN2014,01JAN2014,01JAN2014,ESSEN,False
3,370,01JAN2014,1213,INT,SNCB/NMBS,215,0/6,10:57:53,11:00:59,10:59:00,...,-1.0,NaN,BRUSSEL-CENTRAAL,0/6,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False
4,401,01JAN2014,1217,INT,SNCB/NMBS,215,0/6,11:58:12,12:03:39,11:59:00,...,159.0,NaN,BRUSSEL-CENTRAAL,0/6,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False

In [24]:
df["year"] = df["DATDEP"].apply(lambda x: x[5:])

In [25]:
df["month"] = df["DATDEP"].apply(lambda x: x[2:5])

In [26]:
df["day"] = df["DATDEP"].apply(lambda x: x[:2])

In [27]:
df["month"].unique()

array(['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP',
       'OCT', 'NOV', 'DEC'], dtype=object)

In [28]:
df["month"] = df["month"].map({"JAN": "01", "FEB": "02", "MAR": "03", "APR": "04", "MAY": "05", "JUN": "06", "JUL": "07", "AUG": "08", "SEP": "09", "OCT": "10", "NOV": "11", "DEC": "12"})

In [29]:
df.head()

,Unnamed: 0,DATDEP,TRAIN_NO,RELATION,TRAIN_SERV,PTCAR_NO,LINE_NO_DEP,REAL_TIME_ARR,REAL_TIME_DEP,PLANNED_TIME_ARR,...,LINE_NO_ARR,PLANNED_DATE_ARR,PLANNED_DATE_DEP,REAL_DATE_ARR,REAL_DATE_DEP,destination,delayed,year,month,day
0,17,01JAN2014,10,ICE,SNCB/NMBS,215,0/2,21:31:15,21:31:07,21:32:00,...,0/2,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01
1,288,01JAN2014,1209,INT,SNCB/NMBS,215,0/6,9:58:51,10:01:11,9:59:00,...,0/6,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01
2,313,01JAN2014,1210,INT,SNCB/NMBS,215,0/5,7:02:34,7:04:17,6:59:00,...,0/5,01JAN2014,01JAN2014,01JAN2014,01JAN2014,ESSEN,False,2014,01,01
3,370,01JAN2014,1213,INT,SNCB/NMBS,215,0/6,10:57:53,11:00:59,10:59:00,...,0/6,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01
4,401,01JAN2014,1217,INT,SNCB/NMBS,215,0/6,11:58:12,12:03:39,11:59:00,...,0/6,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01

In [30]:
df["hour_time_dep"] = df["REAL_TIME_DEP"].astype("datetime64").dt.round("H").dt.hour

In [31]:
df.head()

,Unnamed: 0,DATDEP,TRAIN_NO,RELATION,TRAIN_SERV,PTCAR_NO,LINE_NO_DEP,REAL_TIME_ARR,REAL_TIME_DEP,PLANNED_TIME_ARR,...,PLANNED_DATE_ARR,PLANNED_DATE_DEP,REAL_DATE_ARR,REAL_DATE_DEP,destination,delayed,year,month,day,hour_time_dep
0,17,01JAN2014,10,ICE,SNCB/NMBS,215,0/2,21:31:15,21:31:07,21:32:00,...,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01,22.0
1,288,01JAN2014,1209,INT,SNCB/NMBS,215,0/6,9:58:51,10:01:11,9:59:00,...,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01,10.0
2,313,01JAN2014,1210,INT,SNCB/NMBS,215,0/5,7:02:34,7:04:17,6:59:00,...,01JAN2014,01JAN2014,01JAN2014,01JAN2014,ESSEN,False,2014,01,01,7.0
3,370,01JAN2014,1213,INT,SNCB/NMBS,215,0/6,10:57:53,11:00:59,10:59:00,...,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01,11.0
4,401,01JAN2014,1217,INT,SNCB/NMBS,215,0/6,11:58:12,12:03:39,11:59:00,...,01JAN2014,01JAN2014,01JAN2014,01JAN2014,BRUSSEL-ZUID,False,2014,01,01,12.0

In [32]:
df.dtypes

Unnamed: 0              int64
DATDEP                 object
TRAIN_NO                int64
RELATION               object
TRAIN_SERV             object
PTCAR_NO                int64
LINE_NO_DEP            object
REAL_TIME_ARR          object
REAL_TIME_DEP          object
PLANNED_TIME_ARR       object
PLANNED_TIME_DEP       object
DELAY_ARR             float64
DELAY_DEP             float64
RELATION_DIRECTION     object
PTCAR_LG_NM_NL         object
LINE_NO_ARR            object
PLANNED_DATE_ARR       object
PLANNED_DATE_DEP       object
REAL_DATE_ARR          object
REAL_DATE_DEP          object
destination            object
delayed                  bool
year                   object
month                  object
day                    object
hour_time_dep         float64
dtype: object